<section class="container">
<div class="row">
    <div class="col-md-12">
      <h2 class="text-center ">Edit Products Details</h2>
      <form action="/admin/edit-products/{{product._id}}" method="POST" enctype="multipart/form-data">

        <label for="">Name</label>
        <input type="text" class="form-control" name="Name" value="{{product.Name}}"><br>

        <label for="">Category</label>
        <input type="text" class="form-control" name="Category" value="{{product.Category}}"><br>

        <label for="">Size</label>
        <select class="form-control" name="Size" value="{{product.Size}}" multiple>
        <option>34</option>
        <option>35</option>
        <option>36</option>
        <option>37</option>
        <option>38</option>
        <option>39</option>
        <option>40</option>
        <option>41</option>
        </select><br>
        
        <label for="">Price</label>
        <input type="text" class="form-control" name="Price" value="{{product.Price}}"><br>

        <label for="">Description</label>
        <input type="text" class="form-control" name="Description" value="{{product.Description}}"><br>

        <label for="">Image</label><br>
        <img style="width:100px; height:100px"  src="/product-images/{{product._id}}.jpg" id="viewimg">
        <input type="file" name="Image" class="form-control" onchange="viewImage(event)"> <br><br>

        <button type="submit" class="btn btn-dark">Update</button>
      </form>
      </div>
</div>
</section>

<script>
  function viewImage(event){
    document.getElementById('viewimg').src=URL.createObjectURL(event.target.files[0])
  }
</script>