<section class="container">

  <div class="row">
    <a href="/admin/add-products">
    <button class="btn btn-outline-info mt-5">Add Products</button></a>
  </div>



  <div class="mt-5">
  <table class="table table-hover">
  <thead class="thead-dark"> 
      <tr>
        <th scope="col">SI.No</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <th scope="row">{{@index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.category}}</td>
        <td>{{this.size}}</td>
        <td>{{this.price}}</td>
        <td>{{this.description}}</td>
        <td><img style="width:70px; height:70px"  src="{{this.image}}"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>  
</section>